.add-habit-modal{
	position:fixed;
	display: inline;
	top:50vh;
	left:50vw;
	transform: translate(-50%, -50%);
	height: 50vh;
	width: 60vw;
	background-color: var(--color-background);
	border: solid 2vh var(--color-primary);
	border-radius: 7vh;
	padding: 5vh;
}

.add-habit-modal h1{
	
}


.friend-profile{

}

.friend-list{

}





.blurred-box{
	position: fixed;
	top:0px;
	left:0px;
	padding: 0px;
	margin: 0px;
	height: 10000px;
	width: 10000px;
	backdrop-filter: blur(10px);

}
