.dashboard {
	margin:0px;
	padding:0px;
    display: grid;
	height: 100vh;
	background-color: lightgray;
	grid-template-columns: 70vw 30vw;
	grid-template-rows: repeat(5, 20vh);
}


.habits{
	grid-column: 1/1;
	grid-row: 1/-1;
	display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
	padding: 1em;
    gap: 2em;
}


.friends{
	grid-column: 2/2;
	border-left: 0.3vh solid gray;
	border-bottom: 0.3vh solid gray;

	grid-row: 4/-1;
}

.pending{
	border-left: 0.3vh solid gray;
	border-bottom: 0.3vh solid gray;

	grid-column: 2/2;
	grid-row: 1/4;

}

