.habit-box {
	background-color: white;
    transition: 0.3s ease all;
    font-size: 2rem;
    padding: 20px;
    width: fit-content;
	min-width: 300px;
    border: 5px solid transparent;
}


.habit-box:hover {
    transition: 0.6s ease all;
	border-color: var(--color-dark);
}

.habit-name {
    border-bottom: 2px var(--color-dark) solid;
	
	font-weight: 500;
}

h3{
	width: 100%;
	
}

.status-box{
	display: flex;
	justify-content: center;
}

