.status-box{
	transition: .3s ease;
	width: 100px;
	height: 100px;
	cursor: pointer;
	border-radius: 30px;
}

.status-box:hover{
	border-radius: 30px;
	transition: .3s ease;
	border: 3px solid;
}

#check{
	color: #26a269;
}

#question-mark{
	color: #ffbe6f;
}

#x{
	color: #f66151;

}

.habit-box{
	transition: .3s ease all;
	font-size: 2rem;
	height: 300px;
	padding: 20px;
	width: 300px;
	border: 5px solid var(--color-dark);
	border-radius: 30px;
}

.habit-box:hover{
	transition: .3s ease all;
	border-color: var(--color-dark);
	box-shadow: 5px 5px var(--color-dark);
}

h1{
    border-bottom: 3px var(--color-dark) solid;
}
