@import "tailwindcss";

@theme {
    --color-primary: #114b5f;
    --color-primary-dark: #0b4153;
    --color-secondary: #0b908c;
    --color-secondary-dark: #007f7b;

    --color-light: #fafff9;
    --color-dark: #171a1d;
}

/* Regenerate utilities to ensure custom colors are available */
@tailwind utilities;
