@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme {
    --color-primary: #26dfc9;
    --color-primary-dark: #1dcbb4;
    --color-secondary: #fc6456;
    --color-secondary-dark: #e8584b;

    --color-graphite: #1c1c1c;

    --color-light: #f6fffd;
    --color-dark: #131b1d;
}

/* Regenerate utilities to ensure custom colors are available */
@tailwind utilities;
